header{
    text-align:center;
    font-size: 50px;
    color:white;
    background-color: #CD5888;

}
body{
    text-align:center;
    background-color: slategray;
}
#celcius{
    z-index:10;
    opacity: 0.34;
    margin-top: 5px;
    padding:0;
    font-size:40px;

}
@media screen and (max-width: 768px){
    body{
        background-color: yellowgreen;
    }
}