*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    text-align: center;
    
}
.main{
    font-size: 120px;
}
.container{
    text-align: center;
}

.btn{
    
    width: 15%;
    border-radius: 9px;
    /* margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right:5px; */
    line-height:5;
    font-size: 30px;
    border: 3px solid black;
    font-weight:bold;
    
    /* position : absolute; */
    
}
.btn:hover{
    background-color:greenyellow;
}
.btn{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
/* }
.btn{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100px;

} */
h1{
    font-size: 100px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color:rgb(138, 66, 197)

}
@media screen and (max-width:100px){
 body{
background-color: yellowgreen;
}
}
