@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    text-decoration:none;
    /* font-size: 30px; */
}
img{
    max-width:100%;
    height:auto;
}
.grid{
    display:grid;
    gap:1.5rem;
}
.header{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 100;
    background-color: #fbf7f7;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}
.nav{
    max-width:968px;
    height:3rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo , .nav_toggle{
    color:rgb(24, 21, 21);
    font-weight:normal;
}
.logo:hover{
    color:rgb(239, 10, 10);
}
.nav_toggle{
    cursor: pointer;
    font-size:1.1rem;
}
.nav_toggle:hover{
    color:rgb(12, 12, 155)
}


/* media queries */
@media screen and (max-width:767px){
    .nav_menu{
        position: fixed;
        bottom:-100%;
        left:0;
        width:100%;
        background-color: rgb(254, 254, 254);
        padding:2rem 1.5rem 4rem;
        box-shadow:0 -1px 4px rgba(0, 0, 0, .15);
        border-radius:1.5rem 1.5rem 0 0;
        transition:0.3s;
    }
}
.nav-list{
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.2rem;
}
.nav-link{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.4rem;
    font-weight: 300;
    color:rgb(2, 7, 77)
}
.nav-link:hover{
    color:rgb(50, 158, 17)
    
}
.nav-icon{
    font-size: 1.5rem;
}
.nav_close{
    position:absolute;
    right:1.3rem;
    bottom:.5rem;
    font:1.5rem;
    cursor:pointer;
    color:rgb(239, 10, 10);
}
.nav_close:hover{
    color:crimson
}

.show-menu{
    bottom:0;
}