@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins&display=swap");

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}

.contact-content {
  display: flex;
  justify-content: center;
}
.contact-left-box {
  margin: 0 150px;
}
.call-me {
  display: flex;
  margin-bottom: 10px;
}
.email {
  display: flex;
  margin-bottom: 10px;
}
.location {
  display: flex;
}
.uil-phone {
  margin-right: 20px;
  font-size: 30px;
  color: blueviolet;
}
.uil-envelope {
  margin-right: 20px;
  font-size: 30px;
  color: blueviolet;
}
.uil-map-marker-alt {
  margin-right: 20px;
  font-size: 30px;
  color: blueviolet;
}

input {
  border: none;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 23px 20px;
  border-radius: 5px;
  background-color: #e3dffd;
}
.project-text {
  width: 89%;
}
.third-row textarea {
  width: 89%;
  border-radius: 5px;
  border: none;
  background-color: #e3dffd;
  padding: 10px 20px;
}
.send-message button {
  margin: 10px 0;
  border: none;
  padding: 12px 10px;
  background-color: #6527be;
  color: white;
  border-radius: 5px;
}
.uil-message {
  font-size: 20px;
}
