@media only screen and (max-width: 1024px) {
  header {
    padding: 0 20px;
    width: 100%;
  }
  .nav-bar ul li {
    padding-right: 5px;
  }
  .mydetails__heading{
    width:95%;
  }
  .mydetails__heading h1{
    font-size:22px;
  }
  .mydetails__heading h3 {
    font-size: 18px;
  }
  /* .mydetails h1 {
    font-size: 30px;
  } */
  .img {
    width: 200px;
  }
  .developer-image {
    padding-top: 60px;
  }
  .developer-image img {
    height: 200px;
    width: 350px;
  }
  /* .img {
    margin: 70px;
  } */
  .contact-button {
    width: 50%;
}
  .mydetails {
    margin: 0 2px;
    padding-left:1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content {
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mydetails span {
    font-size: 25px;
}
.scroll-more {
  margin-top: 5px;
  font-size: 15px;
}
  .mybtn {
    margin-top: 1rem;
    padding: 10px 10px;
    width: 100%;
  }
  .social-media__content{
    margin:10px 14px;
  }
  .about-text h1 {
    font-size: 50px;
  }
  .about-text h5 {
    font-size: 20px;
  }
  .about-text p {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .box {
    width: 100%;
  }
  .project-item {
    margin: 8px 20px;
    padding: 6px 18px;
  }
  .project-btn {
    width: 100%;
  }

  /* .content{
      display:flex;
      flex-direction: column;
    } */
}
@media only screen and (max-width: 900px) {
  .about-text {
    width: 100%;
    /* padding:30px; */
  }
  .about-text h1 {
    font-size: 40px;
  }
  .about-text h5 {
    font-size: 20px;
  }
  .about-text p {
    line-height: 25px;
    font-size: 16px;
    margin: 0px 0px;
  }
  .about img {
    height: auto;
    width: 200px;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(2, 49vw);
    justify-items: center;
  }
  .about-text p {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 728px) {
  .mybtn {
    margin: 1.5rem 6.5rem;
    font-size: 2vh;
    padding: 14px 22px;
  }
  .my_skill {
    width: 500px;
  }
  .education_content {
    width: 65%;
  }
  .first-col {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    /* grid-column-gap: 1fr; */
    justify-items: center;
    margin: 20px 0;
  }
  .project-btn {
    margin: 5px 0;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: bold;
    /* line-height: 1.5; */
  }
  .project-item {
    width: 60%;
  }
  .contact-box {
    display: grid;
  }
  .cv-button {
    width: 95%;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* padding: 160px 0px; */
  }
  .education h2 {
    font-size: 50px;
    /* padding-bottom: 50px; */
    margin-bottom: 30px;
  }
  .img {
    width: 270px;
    height: auto;
  }
  .mydetails {
    margin-top: 50px;
    text-align: center;
  }
  .mydetails h3 {
    font-size: 28px;
    letter-spacing: 1px;
  }
  .mydetails h1 {
    font-size: 35px;
    letter-spacing: 1px;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: a;
  }
  .main img {
    width: 227px;
    height: 32vh;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .about-text {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .read-more-btn {
    width: 40%;
  }
}
@media only screen and (max-width: 560px) {
  .my_skill {
    width: 400px;
  }
  .about-text p {
    margin: 20px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .my_skill {
    width: 300px;
  }
  .about-text {
    width: 400px;
  }
  .developer-image img {
    height: auto;
    width: 70%;
  }
  .developer-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mydetails p {
    width: 98%;
  }
  .mydetails h1 {
    font-size: 22px;
  }
  .mydetails h1 span {
    font-size: 26px;
  }
  .main img {
    height: 11rem;
    width: 47%;
  }
  .education_content {
    padding: 0px 15px;
  }
  .education h2 {
    font-size: 40px;
  }
  .my_skill_content h1 {
    font-size: 40px;
  }

  .box p {
    font-size: 15px;
  }
  .box-right {
    width: 93%;
    font-size: 13px;
  }
  .box-left {
    width: 90%;
  }
  .mybtn {
    width: 100%;
    font-size: 20px;
  }
  .read-more-btn {
    width: 50%;
  }
  .text-footer {
    font-size: 15px;
  }
}
@media only screen and (max-width: 410px) {
  .img {
    width: 220px;
    height: auto;
  }
  .about-text {
    width: 355px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 0px;
  }
}
@media only screen and (max-width: 950px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 0 15px;
  }
  .hamburger .line {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 6px 0;
    border: 0.8px solid #11101b;
    border-radius: 5px;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #ffffff;
    transition: 0.2s;
    z-index: 1000;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 60px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: rgb(8, 8, 8);
  }
  .nav-bar ul li a:hover {
    color: #11101b;
    background: #27e1e1;
  }
}
